<odoo>
    <data>
        <!-- TJARA Parent -->
        <menuitem id="main_menue" name="GC-TJara" />
        <!-- Achat -->
        <menuitem id="achat_menu" name="Achats" parent="main_menue" sequence="1" />
        <menuitem id="commande_menu" name="Commandes" parent="achat_menu" action="facture_list_action" sequence="2" />
        <menuitem id="facture_menu" name="Factures" parent="achat_menu" action="factureachat_list_action" sequence="3" />
        <menuitem id="reglement_menu" name="Règlement achats" parent="achat_menu" action="base.action_partner_form" sequence="4" />
        <menuitem id="Bonentree_menu" name="Bons d'entrées" parent="achat_menu" action="bonentree_list_action" sequence="5" />
      
        
         <!-- Vente -->
        <menuitem id="vente_menu" name="Ventes" parent="main_menue" sequence="10"/>
        <menuitem id="commande_menu" name="Commandes" parent="vente_menu" action="facture_list_action" sequence="11" />
        <menuitem id="facture_menu" name="Factures" parent="vente_menu" action="facturevente_list_action" sequence="12" />
        <menuitem id="reglement_menu" name="Règlements" parent="vente_menu" action="base.action_partner_form" sequence="13" />
        <menuitem id="bonlivraison_menu" name="Bon livraison" parent="vente_menu" action="produit_list_action" sequence="14" />
       
       
         <!-- Stock -->
        <menuitem id="stcock_menu" name="Stock" parent="main_menue" sequence="20" action="stock_list_action"/>
        <menuitem id="produit_menu" name="Produits" parent="stcock_menu" action="produits_list_action" sequence="21" />
        <menuitem id="emballage_menu" name="Emballages" parent="stcock_menu" action="emballage_list_action" sequence="22" />
        <menuitem id="mouvement_menu" name="Mouvement de stock" parent="stcock_menu" action="base.action_partner_form" sequence="23" />
       
         <!-- Partener -->
        <menuitem id="partner_menu" name="Partenaires" parent="main_menue" sequence="30" />
        <menuitem id="client_menu" name="Clients" parent="partner_menu" action="client_list_action" sequence="31" />
        <menuitem id="fournisseur_menu" name="Fournisseur" parent="partner_menu" action="fournisseur_list_action" sequence="32" />
       
        
           <!-- Dashboard -->
        <menuitem id="tjara_menu" name="Dashboard" parent="main_menue" sequence="40"/>
             <menuitem id="dashboard_menu" name="Tableau de bord" parent="main_menue" action="open_board_tjara" sequence="41" />                
    </data>
</odoo>